@use "../variables/global" as *;

.hljs {
  color: var(--#{$prefix}code-fg);
  background: var(--#{$prefix}code-bg);
}

.hljs-keyword,
.hljs-literal,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-template-tag,
.hljs-name,
.hljs-section,
.hljs-bullet,
.hljs-variable.language_ {
  color: var(--#{$prefix}code-storage);
}

.hljs-title,
.hljs-title.function_,
.hljs-title.function_.invoke__ {
  color: var(--#{$prefix}code-function);
}

.hljs-type,
.hljs-built_in,
.hljs-title.class_,
.hljs-title.class_.inherited__ {
  color: var(--#{$prefix}code-type);
}

.hljs-variable,
.hljs-template-variable,
.hljs-params,
.hljs-property,
.hljs-attr,
.hljs-attribute {
  color: var(--#{$prefix}code-variable);
}

.hljs-variable.constant_,
.hljs-symbol {
  color: var(--#{$prefix}code-constant);
}

.hljs-string,
.hljs-meta .hljs-string,
.hljs-code,
.hljs-formula,
.hljs-link,
.hljs-deletion {
  color: var(--#{$prefix}code-string);
}

.hljs-number,
.hljs-addition {
  color: var(--#{$prefix}code-number);
}

.hljs-regexp {
  color: var(--#{$prefix}code-regexp);
}

.hljs-char.escape_,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: var(--#{$prefix}code-escape);
}

.hljs-tag {
  color: var(--#{$prefix}code-punctuation);
}

.hljs-comment,
.hljs-quote {
  color: var(--#{$prefix}code-comment);
}

.hljs-subst,
.hljs-operator,
.hljs-punctuation {
  color: var(--#{$prefix}code-fg);
}

.hljs-section,
.hljs-strong {
  font-weight: var(--#{$prefix}font-weight-bold);
}

.hljs-emphasis {
  font-style: italic;
}
